<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OC Handler</title>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- STYLE -->
    <link rel="stylesheet" href="/styles/style.css">
    <!-- SCRIPTS -->
    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/OCscript.js" defer></script>
</head>
<body class="font-arial">
    <div id="nav" class="container">
        <section class="back" onclick="changeURL(`/`)"><span>&#9664;</span></section>
        <section><span>CHARACTERS</span></section>
        <section onclick="badLogger()"><span>DEBUG</span></section>
        <section><span>TEST4</span></section>
        <section><span>TEST5</span></section>
        <section><span>TEST6</span></section>
    </div>
    <div id="content" class="container">
        <section id="character" class="container-flex-row container-character">
            <section id="semantic" class="container-flex-column">
                <section id="character-name" class="character-semantics"><span><%=character.characterName%></span></section>
                <section><span id="semantic-1" style="color: <%=character.characterStatuses[1].statusColor.colorFont%>"><%=character.characterStatuses[1].statusName%></span></section>
                <section><span><%=character.characterStatuses[1].statusColor.colorFont%></span></section>
            </section>
            <section id="stats" class="container-flex-column">
                <section class="character-stat-labels"><span>Intelligence</span></section>
                <section><span>Strength</span></section>
                <section><span>Speed</span></section>
                <section><span>Durability</span></section>
                <section><span>Energy Projection</span></section>
                <section><span>Fighting Ability</span></section>
            </section>
            <section id="stat-bars" class="container-flex-column">
                <% for (let i = 0; i < character.characterStats.length; i++) { %>
                <section class="stat-bar container-flex-row">
                    <% for (let j = 0; j < character.characterStats[i].statValue.length; j++) { %>
                        <section id="test" style="background-color: <%=character.characterStatuses[j].statusColor.colorBG%>"><span style="color: <%=character.characterStatuses[j].statusColor.colorFont%>;"><%=character.characterStats[i].statValue[j]%></span></section>
                    <% } %>
                </section>
                <% } %>
                        
            </section>
        </section>
        <form class="padded-left" action="<%=character.id%>/stat/0" method="POST">
            <input type="number" name="statValue" value="<%=character.characterStats[0].statValue[0]%>">
            <input type="submit" value="Submit!">
        </form>
    </div>

    

    <!-- #region BOBBY SCRIPT -->
    <%console.log(character.characterName);%>
    <!-- #endregion -->

</body>
</html>